name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Copy tests data
      run:
        git clone https://github.com/ws-garcia/CSVsniffer.git /tmp/CSVsniffer
        mkdir -p ../test_data
        cp -r /tmp/CSVsniffer/CSV/* ../test_data/pollock/
        cp -r /tmp/CSVsniffer/W3C-CSVW/* ../test_data/w3c_csvw/
        cp -r /tmp/CSVsniffer/CSV_Wrangling/data/github/Curated\ files/* ../test_data/csv_wrangling/
    - name: Run tests
      run: cargo test --verbose
